body {
  background-color: rgb(58, 49, 49);
}

#NavBar,
#carousel {
  text-align: center;
}

#projDiv,
#abMe {
  outline: black thick;
}

#carousel {
  background-color: silver;
  height: 90%;
  width: 90%;
  padding: 3%;
  margin: 3%;
}

.carousel-item {
  height: 750px;
  width: 500px;
}

#profilePic,
#minddump {
  height: 100%;
  width: 100%;
}
