* {
  background-color: rgb(58, 49, 49);
}

#NavBar,
#carousel,
h1,
h2 {
  text-align: center;
  background-color: rgb(62, 84, 85);
  color: whitesmoke;
}

#carouselMain {
  height: 70%;
  width: 70%;
  align-content: center;
  justify-content: center;
  margin-left: 160px;
  background-color: rgb(62, 84, 85);
  color: whitesmoke;
}

contactPage {
  align-content: center;
  text-align: center;
  display: flexbox;
}

#projDiv,
#abMe {
  outline: black thick;
  margin: 5%;
  color: whitesmoke;
}
p {
  background-color: rgb(44, 55, 56);
  color: whitesmoke;
  text-align: center;
}
#profilePic,
#minddump {
  height: 100%;
  width: 100%;
  background-color: rgb(62, 84, 85);
}
