body {
  background-color: rgb(58, 49, 49);
}

#NavBar,
#carousel {
  text-align: center;
}

#carousel {
  background-color: silver;
  height: 90%;
  width: 90%;
  padding: 10px;
}

#profilePic,
#minddump {
  height: 100%;
  width: 100%;
}
